<h2 style="color: white">Hello! This game is created by {{name}}.<h2>
<p style="color: white">Press Start to start the game!</p>
<div class="wrapper">
    <button class="button" onclick="window.location.href='/game'" type="button">START!</button>
</div>
